<!--popular movies-->
<div *ngFor="let m of popMovies" class="d-inline-block">


    <div class="card ms-3 mt-4" style="width: 25rem;">
      <img src="{{getPics(m.poster_path)}}" class="card-img-top" alt="...">
      <div class="card-body d-flex">
        <h5 class="card-title me-3">{{m.title}}</h5>
        <button *ngIf="isItLiked(m.id)" (click)="likeToggle(m.id)">Disike</button>
        <button *ngIf="!isItLiked(m.id)" (click)="likeToggle(m.id)">Like</button>
        <p #show ></p>
      </div>
    </div>


</div>
