<!-------- NAVBAR -------->
<nav class="navbar navbar-expand-lg bg-body-tertiary ps-5 pe-5 font-monospace">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/580b57fcd9996e24bc43c530.png" alt="logo" width="175" height="48">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-lg-0">
        <li class="nav-item dropdown me-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PERSONAL
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BUSINESS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link"  href="#">SUBSCRIBE</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="#">HELP</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-primary rounded-pill me-3" type="submit">Log In</button>
        <button class="btn btn-primary rounded-pill" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</nav>
