/* variabili numeriche */
$full-width: 100%;
$main-margin:40px;
$main-padding:10px;

/* variabili stringa */
$main-font:'Spectral', serif;
$second-font: 'Roboto', sans-serif;
$dark: black;   
$hover-color:grey;
$remove:none;                    