
/* used colors */
$mainColor: white;
$hoverColor: rgba(128, 128, 128, 0.752);
$black: black;

/* buttons style */
$b-width: 80px;
$b-radius: 10px;
$b-color: rgba(255, 255, 255, 0.726);


/* home mesures */
$padding: 40px;