/* used colors */
$c-light: white;
$c-dark: black;
$c-pinkish: rgb(242, 47, 79);
$c-purple: rgb(111, 48, 220);
$c-grey: rgb(244, 244, 244);
$c-hover:rgba(111, 48, 220, 0.591);

/* used mesures */
$light: 10px;
$light-medium: 20px;
$medium: 30px;
$big: 40px;
$extra-big: 100px;

