body {

  background: url(imgs/WallpaperDog-20553365.jpg) no-repeat center center fixed;
    background-color: black;
    animation: shrink 13s infinite alternate;
  }
  
  @keyframes shrink {
    0% {
      background-size: 110% 110%; /*width - height*/
    }
    100% {
      background-size: 100% 100%;
    }
  }