<div class="container-fluid">
  <div class="d-flex p-4 align-items-center">
    <div class="p-4">
      <img class="img-fluid" src="/assets/Receive-and-collect-money-How-PP-works.png" alt="pic">
    </div>
<div class="p-4">
  <h2 class="mb-4">PayPal simplifies your life</h2>
  <p>
    We believe it should be simple to get, spend, and send your money. That’s why our services are designed to fit into your everyday life. Whether you’re shopping, splitting expenses, or getting paid for sales, we’re here to help make it as easy as possible.
  </p>
</div>
</div>
</div>
